
NODE_ENV=your_env
BETTER_AUTH_SECRET=your_secret
BETTER_AUTH_URL=your_auth_url
DATABASE_URL=your_database_url
NEXT_PUBLIC_API_BASE_URL=your_api_base_url
GOOGLE_GENERATIVE_AI_API_KEY=your_google_api_key
AI_GATEWAY_API_KEY=your_ai_gateway_api_key
TAVILY_API_KEY=your_tavily_api_key